.auth__main {
    background-image: linear-gradient(to top, $primary 0%, 
    $secondary 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth__box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 3px $dark-grey;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
    height: 400px;
}

.auth__title {
    font-size:20px;
    color: darken($color: $primary, $amount:20);
}

.auth__input {
    color: $dark-grey;
    border: 0px;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    transition: border-bottom 0.3s ease;

    &:focus {
        border-bottom: 2px solid $secondary;
        outline: none;
    }
}